.report-page {
  border: 1px solid #000; /* 검은색 테두리를 추가합니다 */
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2개의 열 */
  grid-template-rows: 1fr 1fr 1fr; /* 3개의 행, 자동 높이 조정 */
  column-gap: 30px;
  row-gap: 10px;
  padding: 10px; /* 페이지 내부 여백 */
  height: 670px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.section {
  justify-content: center;
  width: 100px;
  margin-top: 10px;
}
.section .header {
  background-color: #12325E; /* header의 배경색 */
  color: white;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 5px;
}

.section .content {
  background-color: #fff; /* content의 배경색 */
  width: 100px;
  height: 100px;
  padding: 10px; /* 여백 추가 */
  /* 기존 스타일 */
  color: black;
  font-weight: bold;
  font-size: 10px;
}