.admin-choose {
  padding: 20px; /* 안쪽 여백 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.admin-choose h1 {
  margin-bottom: 200px; /* 제목과 링크 사이의 여백 */
	color: white;
}

.link-list {
  list-style: none; /* 기본 목록 스타일 제거 */
  padding: 0; /* 기본 패딩 제거 */
}

.link-list li {
  margin-bottom: 50px; /* 링크 항목 사이의 여백 */
}

.link-list li a {
  display: inline-block; /* 인라인 블록 요소로 설정 */
  padding: 50px; /* 링크 내부의 여백 */
  color: black; /* 글자색 */
  text-decoration: none; /* 밑줄 제거 */
  border-radius: 15px; /* 둥근 모서리 */
  box-shadow: 0 2px 5px rgba(0,0,0,1); /* 그림자 효과 */
  transition: background-color 0.3s; /* 배경색 변경에 대한 전환 효과 */
	background-color: white;
}

.link-list li a:hover {
  background-color: #7594c5; /* 호버 상태의 배경색 */
	color: #e0e8f5;
}